<h1 class="h4 titulo mb-2">Pesquisa de Produto</h1>

<p *ngIf="!produtos">Carregando Produtos...</p>

<button class="btn btn-primary mb-2" (click)="adicionarProduto()">Adicionar Produto</button>

<table class="table table-hover" *ngIf="produtos">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Imagem</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produtos">
      <td>{{p.nome}}</td>
      <td style="width: 50%">{{p.descricao}}</td>
      <td style="width: 10%">R$ {{p.preco}}</td>
      <td style="width: 20%">
        <div *ngIf="p.nomeArquivo">
          <img style="width:30%; height:30%;" src="../../../../../arquivos/{{p.nomeArquivo}}" />
        </div>
      </td>
      <td><button class="btn btn-success btn-sm" (click)="editarProduto(p)">Editar</button></td>
      <td><button class="btn btn-danger btn-sm" (click)="deletarProduto(p)">Excluir</button></td>
    </tr>
  </tbody>
</table>
