<div class="container">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:20%"></th>
            <th style="width:35%">Produto</th>
            <th style="width:20%">Quantidade</th>
            <th style="width:20%">Preço</th>
            <th style="width:5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of produtos">
            <td>
              <div>
                <img style="width:100%; height:100%;" src="../../../../../arquivos/{{p.nomeArquivo}}" />
              </div>
            </td>
            <td>{{p.descricao}}</td>
            <td>
              <input type="number" class="form-control" 
                     (change)="atualizarPreco(p)"
                     [(ngModel)]="p.quantidade" placeholder="1" />
            </td>
            <td>R$ {{p.precoCalculado | number:'1.2'}}</td>
            <td>
              <button class="btn btn-secondary btn-sm" (click)="remover(p)">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="card">
          <div class="card-header">Resumo</div>
          <div class="card-body">
            <div class="mb-4">
              <strong>Total: R$ {{total | number:'1.2'}}</strong>
            </div>
            <button class="btn btn-danger" (click)="efetivarCompra()">Efetivar Compra</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
