<div *ngIf="!produto">Carregando...</div>

<div class="row">
  <div class="col-md-6">
    <img style="max-width: 100%;"
         src="../../../../../arquivos/{{produto.nomeArquivo}}" />
  </div>
  <div class="col-md-6">
    <div class="row h2">{{produto.nome}}</div>
    <div class="row" style="color:#666;"><h4 class="h4">{{produto.descricao}}</h4></div>
    <div class="row h4">R$ {{produto.preco}}</div>
    <div class="row h4"><button class="btn btn-danger" (click)="comprar()">Comprar</button></div>
  </div>
</div>
