<div class="text-center">
  <form class="form-signin" #f="ngForm">

    <h1 class="h4 mb-2 login">Login do Cliente</h1>

    <label for="inputEmail" class="sr-only">E-mail</label>
    <input type="email" id="inputEmail" name="email" placeholder="Informe seu e-mail" class="form-control mb-2"
           [(ngModel)]="usuario.email" #email="ngModel"
           [ngClass]="{'is-invalid':email.invalid && (email.dirty || email.touched),
           'is-valid':!(email.invalid && (email.dirty || email.touched))}"
           email required />
    <div class="invalid-feedback mb-2" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        O e-mail deve ser informado!
      </div>
      <div *ngIf="email.errors.email">
        E-mail inválido!
      </div>
    </div>

    <label for="inputSenha" class="sr-only"></label>
    <input type="password" id="senha" name="senha" placeholder="Informe sua senha" class="form-control mb-2"
           #senha="ngModel"
           [(ngModel)]="usuario.senha"
           [ngClass] ="{
            'is-invalid':senha.invalid && (senha.dirty || senha.touched),
            'is-valid':senha.valid && (senha.dirty || senha.touched)
           }"
           required />
    <div class="invalid-feedback mb-2" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
      <div *ngIf="senha.errors.required">
        Senha deve ser informada
      </div>
    </div>

    <button class="btn btn-primary btn-block mb-3" type="submit" (click)="entrar()" [disabled]="executando">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="executando"></span>
      Entrar
    </button>

    <div>Novo por aqui? <a [routerLink]='["/novo-usuario"]'>Cadastre-se</a></div>

    <div class="alert alert-danger" *ngIf="mensagem">
      {{this.mensagem}}
    </div>

    <img src="../../../assets/img/buy1-300x225.jpg" />
    <!--{{usuario.email}}
    {{usuario.senha}}-->
  </form>
</div>
