<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>QuickBuy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="usuarioAdm()">
            <a class="nav-link text-dark" [routerLink]='["/pesquisar-produto"]'>Produto</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!usuarioLogado()">
            <a class="nav-link text-dark" [routerLink]='["/entrar"]'>Entrar</a>
          </li>

          <li class="nav-item dropdown" *ngIf="usuarioLogado()">
            <a class="nav-link text-dark" role="button" aria-haspopup="true" href="#"
               aria-expanded="false" id="linkMenu" data-toggle="dropdown">{{usuario.email}}</a>
            <ul class="dropdown-menu" aria-labelledby="linkMenu">
              <li class="dropdown-item" role="menu" [routerLink]='["/sair"]' (click)="sair()">Sair</li>
            </ul>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="temItensCarrinho()">
            <a class="nav-link text-dark" [routerLink]='["/loja-efetivar"]'>
              <img src="assets/img/shopping-06-512.png"
                style="width:32px; height:32px;"/>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
