<div class="text-center">
  <form class="form-signin" #f="ngForm">

    <h1 class="h4 mb-2 login">Criar Conta</h1>

    <label for="inputEmail" class="sr-only">E-mail</label>
    <input type="email" id="inputEmail" name="email" placeholder="Informe seu e-mail" class="form-control mb-2"
           [(ngModel)]="usuario.email" #email="ngModel"
           [ngClass]="{'is-invalid':email.invalid && (email.dirty || email.touched),
           'is-valid':!(email.invalid && (email.dirty || email.touched))}"
           email required />
    <div class="invalid-feedback mb-2" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        O e-mail deve ser informado!
      </div>
      <div *ngIf="email.errors.email">
        E-mail inválido!
      </div>
    </div>

    <label for="inputSenha" class="sr-only"></label>
    <input type="password" id="senha" name="senha" placeholder="Informe sua senha" class="form-control mb-2"
           #senha="ngModel"
           [(ngModel)]="usuario.senha" Sobrenome
           [ngClass]="{
            'is-invalid':senha.invalid && (senha.dirty || senha.touched),
            'is-valid':senha.valid && (senha.dirty || senha.touched)
           }"
           required />
    <div class="invalid-feedback mb-2" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
      <div *ngIf="senha.errors.required">
        Senha deve ser informada
      </div>
    </div>

    <label for="inputNome" class="sr-only">Nome</label>
    <input type="text" id="inputNome" name="nome" placeholder="Informe seu Nome" class="form-control mb-2"
           [(ngModel)]="usuario.nome" #nome="ngModel"
           [ngClass]="{'is-invalid':nome.invalid && (nome.dirty || nome.touched),
           'is-valid':!(nome.invalid && (nome.dirty || nome.touched))}"
           required />
    <div class="invalid-feedback mb-2" role="alert" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
      <div *ngIf="nome.errors.required">
        O Nome deve ser informado!
      </div>
    </div>

    <label for="inputSobrenome" class="sr-only">Sobrenome</label>
    <input type="text" id="inputSobrenome" name="sobrenome" placeholder="Informe seu Sobrenome" class="form-control mb-2"
           [(ngModel)]="usuario.sobrenome" #sobrenome="ngModel"
           [ngClass]="{'is-invalid':sobrenome.invalid && (sobrenome.dirty || sobrenome.touched),
           'is-valid':!(sobrenome.invalid && (sobrenome.dirty || sobrenome.touched))}"
           required />
    <div class="invalid-feedback mb-2" role="alert" *ngIf="sobrenome.invalid && (sobrenome.dirty || sobrenome.touched)">
      <div *ngIf="sobrenome.errors.required">
        O Sobrenome deve ser informado!
      </div>
    </div>

    <button class="btn btn-primary btn-block mb-3" type="submit" (click)="cadastrarUsuario()" [disabled]="executando">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="executando"></span>
      Cadastrar
    </button>
    <div class="mb-2"><a [routerLink]='["/entrar"]'>Voltar</a></div>

    <div class="alert alert-danger" *ngIf="mensagem">
      {{this.mensagem}}
    </div>
    <div class="alert alert-success" *ngIf="usuarioCadastrado">
      Usuário cadastrado com sucesso!<a class="alert-link" [routerLink]="['/entrar']"> Clique aqui</a> para entrar no sistema com a sua conta.
    </div>

    <img src="../../../assets/img/buy1-300x225.jpg" />
  </form>
</div>
