<!--<div class="text-center">
  <form class="form-signin" #f="ngForm">-->

<h1 class="h4 titulo">Cadastro de Produto</h1>

<label for="inputNome" class="sr-only">Nome</label>
<input type="text" id="inputNome" name="nomeProduto" placeholder="Nome do Produto"
       class="form-control mb-2 col-md-4"
       [ngClass]="{'is-invalid': nome.invalid && (nome.dirty || nome.touched),
                   'is-valid': nome.valid && (nome.dirty || nome.touched)}"
       [(ngModel)]="produto.nome" #nome="ngModel" required />
<div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
  <div *ngIf="nome.errors.required">
    O Nome deve ser informado
  </div>
</div>

<label for="inputDescricao" class="sr-only">Descrição</label>
<input type="text" id="inputDescricao" name="descricaoProduto" placeholder="Descrição do Produto"
       class="form-control mb-2 col-md-4"
       [ngClass]="{'is-invalid': descricao.invalid && (descricao.dirty || descricao.touched),
                   'is-valid': descricao.valid && (descricao.dirty || descricao.touched)}"
       [(ngModel)]="produto.descricao" #descricao="ngModel" required
       minlength="50" />
<div class="invalid-feedback mb-2" *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
  <div *ngIf="descricao.errors.required">
    A Descrição deve ser informada
  </div>
  <div *ngIf="descricao.errors.minlength">
    A Descrição deve ser no mínimo 50 caracteres
  </div>
</div>

<label for="inputPreco" class="sr-only">Preço</label>
<input type="number" id="inputPreco" name="precoProduto" placeholder="Preço do Produto"
       class="form-control mb-2 col-md-2"
       [ngClass]="{'is-invalid':preco.invalid && (preco.dirty || preco.touched),
                   'is-valid': preco.valid && (preco.dirty || preco.touched)}"
       [(ngModel)]="produto.preco" #preco="ngModel" required />
<div class="invalid-feedback mb-2" *ngIf="preco.invalid && (preco.dirty || preco.touched)">
  <div *ngIf="preco.errors.required">
    O Preço deve ser informado
  </div>
</div>

<div class="input-group mb-2">
  <div class="custom-file col-md-4">
    <input type="file" class="custom-file-input" id="inputFile" (change)="inputFileChange($event.target.files)" />
    <label for="inputFile" class="custom-file-label">Escolha uma foto</label>
  </div>
</div>


<div class="form-inline mb-2">
  <button type="button" class="btn btn-primary" (click)="cadastrar()" [disabled]="ativar_spinner">
    <span class="spinner-border spinner-border-sm" *ngIf="ativar_spinner"></span>
    Cadastrar
  </button>
  &nbsp;&nbsp;
  <button type="button" class="btn btn-secondary" [routerLink]="['/pesquisar-produto']" [disabled]="ativar_spinner">
    Cancelar
  </button>
</div>

<div class="alert alert-danger col-md-4" *ngIf="mensagem">
  {{mensagem}}
</div>
<!--</form>
</div>-->
